# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
*.mo

# Django migrations
*/migrations/*.py
!*/migrations/__init__.py

# Environment variables
.env
.env.*

# IDE/editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.bak
*.tmp

# MacOS files
.DS_Store

# Pytest cache
.pytest_cache/
.coverage
htmlcov/

# Coverage reports
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Pycharm
*.iml


# Logs
logs/
*.log
